* {
    box-sizing:border-box; /*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura. */
    margin: 0%;
    padding: 0%;
}
header img{
    height:  84.90px; /*esta tando uma altura na imagem que esta no header */
    width: 300px; /* esta tando uma largura na imagem que esta no header*/
}
header{
    display: flex; /* Define o elemento como um contêiner flexível */
    justify-content: center; /*centralizar horizontalmente*/
    margin: 10px; 
    padding: 15px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;

}
ul{
    display: flex;
    list-style-type: none;
    margin: 15px;
}
li{
    padding: 15px;
    font-family: 'inconsolata';
    display: block;
    font-size: 12px;
}
a{
    color: black;
    text-decoration: none;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
  }

.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }